doctype html
modal#preference-panel(title="PREFERENCE", @close="back")
    form(action="#")
        text-field.pref-path-input(
            type="text", input-id="externaldiff",
            label="Path of external diff tool",
            v-model="config.externalDiffTool")

        text-field.pref-path-input(
            type="text", input-id="interactiveShell",
            label="Interactive shell command",
            v-model="config.interactiveShell")

        text-field.pref-input(
            type="number", input-id="recentListCount",
            label="Number of recent opened list",
            :min="0", :max="20",
            v-model.number="config.recentListCount",
            @validation="error.recentListCount = $event.message")
        text-field-helptext(persistent) {{ error.recentListCount }}

        text-field.pref-path-input(
            type="text", input-id="vueDevTool",
            label="Path of vue dev tool",
            v-model="config.vueDevTool")

    template(slot="footer-buttons")
        text-button.footer-text-button(primary, dense, @click="onOk")
            | SAVE
        text-button.footer-text-button(dense, @click="back")
            | CANCEL

