doctype html
transition
    div.fullscreen-overlay.modal-mask(@click="back")
        div.left-overlay-wide.pref-container(@click.stop)
            div.pref-header
                h3.pref-title PREFERENCE
                close-button(@click.native.stop="back")
            div.pref-content
                form(action="#")
                    text-field.pref-path-input(
                        type="text", input-id="externaldiff", autofocus,
                        label="Path of external diff tool",
                        v-model="config.externalDiffTool",
                        @validation="error.externalDiffTool = $event.message")
                    text-field-helptext(persistent) {{ error.externalDiffTool }}

                    text-field.pref-input(
                        type="number", input-id="recentListCount",
                        label="Number of recent opened list",
                        :min="0", :max="20",
                        v-model.number="config.recentListCount",
                        @validation="error.recentListCount = $event.message")
                    text-field-helptext(persistent) {{ error.recentListCount }}
            div.pref-footer
                div(style="flex: 1")
                text-button.footer-text-button(raised, dense, @click.native="onOk") SAVE

